.nav {
    position: fixed;
    top: 0;
    display : flex;
    justify-content: space-between;
    padding: 25px;
    height:30px;
   
    width: 100%;
    z-index:1;

    transition: all 0.5s;
    transition-timing-function: ease-in;

}
.nav_logo{
    position:fixed;
    left:20px;
    width:125px;
    object-fit: contain;
}
.nav_black{
    background-color: #111; 
}